@import "bootstrap";

.navbar-default {
  background-color: #F0EAD6;
}

.navbar-default .navbar-brand {
  font-family: guardian-egyptt, georgia, serif;
  font-weight: 400;
  color: #02caeb;
  font-size: 30px;
}
